{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate 'Hello' %} {{ user.get_full_name }} {% translate 'you have requested a password change ' %}
{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'confirm_reset' uidb64=uid token=token %}
{% endblock %}

{% translate 'If this is not you please ignore the link above' %}


{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}