{% extends "base.html" %}

{% block title %}My Address{% endblock title %}

{% block content %}
<section class="w-11/12 max-w-6xl mx-auto bg-white rounded-xl shadow p-6 mb-6 mt-10">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
    <h1 class="flex items-center text-xl font-semibold text-gray-800 gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#CC5500" width="64" height="64" class="svg-icon">
            <path d="M12 2C8.13401 2 5 5.13401 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86599-3.134-7-7-7zm0 9.5c-1.3807 
            0-2.5-1.1193-2.5-2.5s1.1193-2.5 2.5-2.5 2.5 1.1193 2.5 2.5-1.1193 2.5-2.5 2.5z"/>
        </svg>

      Delivery Information
    </h1>
    <a href="{% url 'add_address' %}" class="btn-primary text-sm font-medium px-4 py-2 rounded-lg mt-4 sm:mt-0 transition">
      + Add Address
    </a>
  </div>

  <hr class="mb-4 border-gray-200" />

  {% if user.address.all %}
  <div class="grid gap-6">
    {% for address in user.address.all %}
    <div class="bg-gray-50 hover:shadow-md transition p-4 rounded-lg border border-gray-200 flex flex-col sm:flex-row justify-between items-start sm:items-center">
      <div>
        <h4 class="text-lg font-semibold text-gray-700">{{ address.full_name }}</h4>
        <p class="text-sm text-gray-600">{{ address.phone }}</p>
        <address class="not-italic text-gray-500 text-sm">
          {{ address.street }}, {{ address.city }}, {{ address.state }}
        </address>
      </div>
      <div class="flex gap-2 mt-4 sm:mt-0 text-sm">
        <a href="{% url 'edit_address' address.pk %}" class="inline-flex items-center gap-1 bg-blue-600 hover:bg-blue-700 text-white px-3 py-1.5 rounded-md transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#CC5500" viewBox="0 0 24 24" class="size-8">
                <path d="M3 17.25V21h3.75l11-11.03-3.75-3.75L3 17.25zM20.71 7.04a1.004 1.004 0 
                000-1.42l-2.34-2.34a1.004 1.004 0 00-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z"/>
            </svg>

            Edit
        </a>
        <a href="{% url 'delete_address' address.pk %}" class="inline-flex items-center gap-1 bg-red-600 hover:bg-red-700 text-white px-3 py-1.5 rounded-md transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#CC5500" viewBox="0 0 24 24" class="size-8">
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>

            Delete
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center py-10 text-burntOrange-600 border border-burntOrange-500 rounded-lg mt-4">
    <h3 class="text-lg font-semibold">You do not have a delivery address yet</h3>
    <p class="text-sm">Add one now to complete your profile</p>
    <a href="{% url 'add_address' %}" class="inline-block mt-4 btn-primary text-white px-4 py-2 rounded-lg transition">
      Add Address
    </a>
  </div>
  {% endif %}
</section>
{% endblock content %}
