{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<section>
    <div>
        <h1>Profile</h1>
        
        <div>
            <div>
                <p>Full name</p>
                <h3>Adeniyi Peace</h3>
            </div>

            <div>
                <p>Email</p>
                <h3>Text@test.com</h3>
            </div>

            <div>
                <p>Phone number</p>
                <h3>5579909-7866</h3>
            </div>

            <div>
                <p>Date of birth</p>
                <h3>23-24-53</h3>
            </div>

            <div>
                <p>Date joined</p>
                <h3>23-24-53</h3>
            </div>

            <div>
                <p>Last signed in </p>
                <h3>23-24-53</h3>
            </div>

            <div>
                <p>Spent</p>
                <h3>#dfghj,kg</h3>
            </div>

            <div>
                <p>Food Bought</p>
                <h3>50</h3>
            </div>
        </div>
    </div>

    <div>
        <h1>Cart</h1>
        
        <div>
            <div>
                <img src="" alt="food image">
                <div>
                    <h4>Food name</h4>
                    <p>price</p>
                </div>
            </div>

            <div>
                <img src="" alt="food image">
                <div>
                    <h4>Food name</h4>
                    <p>price</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Order Number</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <img src="" alt="food image">
                    <h3>Jollof</h3>
                </td>
                <td>#2000</td>
                <td>23-24-53</td>
                <td>2344</td>
                <td>pending</td>
                <td>view detail</td>
            </tr>

            <tr>
                <td>
                    <img src="" alt="food image">
                    <h3>Jollof</h3>
                </td>
                <td>#2000</td>
                <td>23-24-53</td>
                <td>2344</td>
                <td>confirm</td>
                <td>view detail</td>
            </tr>

            <tr>
                <td>
                    <img src="" alt="food image">
                    <h3>Jollof</h3>
                </td>
                <td>#2000</td>
                <td>23-24-53</td>
                <td>2344</td>
                <td>canceled</td>
                <td>view detail</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h1>Delivery Information</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Adeniyi Peace</td>
                <td>12 Aladeola</td>
                <td>ketu ikosi</td>
                <td>lagos</td>
                <td>356576879887</td>
            </tr>

            <tr>
                <td>Adeniyi Peace</td>
                <td>12 Aladeola</td>
                <td>ketu ikosi</td>
                <td>lagos</td>
                <td>356576879887</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock content %}