{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% if form.email.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}



{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">
  {% csrf_token %}
  <fieldset class="module aligned">

    <div>
      {{ form.email.errors }}

      <div>
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
      </div>

    </div>
  </fieldset>

  <div>
    <input type="submit" value="{% translate 'Reset my password' %}">
  </div>
</form>

{% endblock %}
