{% load i18n %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
</head>
<body>
    {% autoescape off %}

    <h1 class="text-xl mb-4">{% blocktranslate %}Welcome to FODA  {{ first_name}}.{% endblocktranslate %}</h1>

    <h2 class="text-sm mb-4">
        {% translate 'Hello' %} {{ user.get_full_name }} {% translate 'you have created an account with us ' %}
        {% translate "Please go to the following page and input the verification code" %}
    </h2>
    
    <h3 class="mb-4">{{ absolute_url }}</h3>


    <h2 class="text-sm mb-4">
        {% translate "verification code" %}: 
        <span class="text-xl font-bold">{{verification_code}}</span>
    </h2>

    <h2 class="text-sm mb-4">{% translate 'If this is not you please ignore the link above' %}</h2>


    <h2 class="text-sm mb-4">{% translate "Thanks for using our site!" %}</h2>

    <h2 class="text-sm mb-4">{% blocktranslate %}The FODA team{% endblocktranslate %}</h2>

    {% endautoescape %}
</body>
</html>