{% extends "base.html" %}

{%block title%} Enter code {%endblock%}

{% block content %}
<div>
    <h3> Enter code sent to your email</h3>
    
    <hr>
    <br>

    <form action="" method="post">
        
        <label for="verification_code" >Email</label>
        <input type="text" name="verification_code" required>

        <br>
        <button type="submit">Login</button>
    </form>

    <br>
    <hr>
    <br>
    <div id="other">
        <p>Dont have an account</p>
        <br>
        <a  href="{% url 'signup' %}">Register </a>

    </div>
</div>
{% endblock content %}