{% extends "auth/auth_extend.html" %}
{% load i18n static %}

{% block title %}{% if form.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}



{% block form %}
<h1 class="text-2xl font-bold mb-[1rem]"> &rsaquo; {% translate 'Password change' %}</h1>
<p class="text-sm w-[50%] mx-auto text-center mb-[0.5]">{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>



<form method="post" class="form-control">
    {% csrf_token %}
        
    <div>
        {% if form.errors %}
            <p class="text-red-500  bg-red-200 w-96  my-[0.5rem]">
            {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
            </p>
        {% endif %}

        <fieldset>

            <div>
                <span class="text-sm text-red-500">{{ form.old_password.errors }}</span>
                <div class="form-div">
                    {{ form.old_password.label_tag }} 
                    {{ form.old_password }}
                </div>
            </div>

            <div>
                <span class="text-sm text-red-500">{{ form.new_password1.errors }}</span>
                <div class="form-div">
                    {{ form.new_password1.label_tag }} 
                    {{ form.new_password1 }}
                </div>
            </div>

            <div>
                <span class="text-sm text-red-500">{{ form.new_password2.errors }}</span>
                <div class="form-div">
                    {{ form.new_password2.label_tag }} 
                    {{ form.new_password2 }}
                </div>

                {% if form.new_password2.help_text %}
                <div class="help text-sm mb-[0.5rem]"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>
                    {{ form.new_password2.help_text|safe }}
                </div>
                {% endif %}
            </div>

        </fieldset>

        

        <button type="submit" class="btn-primary">{% translate 'Change my password' %}</button>

    </div>
</form>


<div id="content-main">

    

</div>

{% endblock %}
