{% extends "auth/auth_extend.html" %}

{%block title%} Sign Up {%endblock%}

{% block form %}
<h1 class="text-2xl font-bold mb-[1rem]"> Create your account</h1>

<hr>
<br>

<form action="{% url "signup" %}" method="post" class="form-control ">
    {% csrf_token %}

    {% for form in form  %}
    <div class="form-div">
        {{form.label_tag}}
        {{form}}
        {% comment %} {{form.help_text}} {% endcomment %}
        <div class="text-sm text-red-500 font-light">
            {{form.errors}}
        </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn-primary">Sign up</button>
</form>
<br>
<hr>
<br>

<div >
    <p class="text-sm">Have an account? <a  href="{% url 'login' %}" class="text-burntOrange-700 font-bold">Log in </a></p>
</div>
{% endblock %}